{% load static %}
<footer class="primary-bg">
	<div class="container">
		<div class="row pt-40">
			<div class="col-lg-4 col-sm-3 footer-info">
				<h3>ursChottu</h3>
				<p>UrsChottu has a dream to serve the entire nation at the wee hours in very unfavourable circumstances, keeping this in mind we are starting off from U-Block Dlf Phase 3, Gurgaon..</p>
				<p><span class="glyphicon glyphicon-envelope"></span>order@urschottu.com</p>
				<p><span class="glyphicon glyphicon-earphone"></span>+91-8376043193, 8222908449</p>
				<p>123, 2nd Floor, Block-U ,Phase-3, DLF, Gurgaon</p>
			</div>
			<div class="col-lg-3 col-sm-3">
				<ul class="footerlinks">
					<li>Toasts & Maggie</li>
					<li><a href="">Choco Toast</a></li>
					<li><a href="">Butter Toast</a></li>
					<li><a href="">Jam Toast</a></li>
					<li><a href="">Veg Maggie</a></li>
					<li><a href="">Egg Maggie</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-sm-3">
				<ul class="footerlinks">
					<li>Sandwichs & Burgers</li>
					<li><a href="">Raw Sandwich</a></li>
					<li><a href="">Grilled Sandwich</a></li>
					<li><a href="">Veg Burger</a></li>
					<li><a href="">Cheese Burger</a></li>
					<li><a href="">Double Trouble Burger</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-sm-3">
				<ul class="footerlinks">
					<li>Others</li>
					<li><a href="">Chips</a></li>
					<li><a href="">Cold Drinks</a></li>
					<li><a href="">Cold Coffee</a></li>
					<li><a href="">Hot Coffee</a></li>
					<li><a href="">Tea</a></li>
					<li><a href="">Ziggi</a></li>
				</ul>
			</div>
			<div class="col-lg-12 col-sm-12">
				<hr class="footercompsep" />
			</div>
			<div class="col-lg-10 col-sm-10 text-left mb-15 footer-info">
				<p class="footer-link">&copy; 2015–2016 ursChottu. ALL RIGHTS RESERVED.&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Terms & Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Privacy Policy</a> | </p>
			</div>
			<div class="col-lg-2 col-sm-2 text-sm-right mb-15">
				<a href="" style="color:#fff;"><i class="fa fa-facebook-official fa-2x"></i></a>
				<a href="" style="color:#fff;"><i class="fa fa-twitter-square fa-2x"></i></a>
			</div>
		</div>
	 </div>
</footer>
